<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wingman's Pub</title>
    <link rel="stylesheet" href="frontstyle.css">
</head>
<body>
    <div class="container">
        <h1>Wingman's Pub</h1>
        <div class="navbar">
            <ul>
                <li><a href="#">Login</a></li>
                <li><a class="reservation" href="#">Signup</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <h3>Welcome to Our Restaurant Wingman's Pub</h3>
        <h1>Rich Healthy and Natural Food</h1>
        <p>Wingman's Pub is a restaurant located in india. we have some amazing recipes
            and the most talented chefs in the country.</p>
    </div>
    <div class="search">
        <input type="text" placeholder="Search Food">
    </div>

    <div class="submit">
        <a href="#">Submit</a>
    </div>
</body>
</html>